#mapid {
    width: 100vw;
    height: 80vh;
}

body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

h1 {}

.wrap {
    margin: 2vw;
}

.reg {
    font-weight: 400;
    display: inline;
}